# Project exclude paths
/AntiTab/target/
/BungeeCordOnTime/target/
/CheatMatch/target/
/DragonGame/target/
/EasyPing/target/
/Friends/target/
/FriendsGUI/target/
/Knocked/target/
/LobbyScoreboard/target/
/OnTime/target/
/Party/target/
/ReportSystem/target/
/Scoreboard/target/
/TeamSkyBlock/target/